# Dependências
node_modules/
dist/
build/

# Variáveis de Ambiente (Segurança!)
.env
.env.test
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs e Editores
.vscode/
.idea/
*.swp
*.swo

# Sistema Operacional
.DS_Store
Thumbs.db

# Dependências
node_modules/
dist/
build/

# Variáveis de Ambiente (Segurança!)
.env
.env.test
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs e Editores
.vscode/
.idea/
*.swp
*.swo

# Sistema Operacional
.DS_Store
Thumbs.db

# Prisma Client Gerado
/src/generated/prisma
